<div class="container">
  <h3>NgxMatTagInput</h3>


  <div class="tag-demo">
    <label>With Auto-complete</label>
    <ngx-mat-tag-input #a (change)="change($event)"
                       [items]="autoCompleteTags" appearance="outline"
                       placeholder="Search Javascript framework"></ngx-mat-tag-input>
  </div>
  <hr>
  <div class="tag-demo">
    <label>With Auto-complete Objects</label>
    <ngx-mat-tag-input #b (change)="change1($event)" [items]="autoCompleteTagsObjects"
                       appearance="outline" displayBy="name"
                       placeholder="Search Javascript framework"></ngx-mat-tag-input>
  </div>
  <hr>
  <div class="tag-demo">
    <label>Without Auto-complete</label>
    <ngx-mat-tag-input #c (change)="change1($event)" appearance="outline" placeholder="Add a new tag">
    </ngx-mat-tag-input>
  </div>

</div>
